*{
    box-sizing: border-box;
    margin: 0px;
}

/* 헤더 */
.common_header{
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px red;
}

.user_dropdown{
    display: none;
    border: solid 2px red;
    background-color: brown;

    position: absolute;
    z-index: 100;
    width: 150px;
    top : 100px;
    right: 0;
}

/* 로고 이미지*/
.logo>img{
    width: 200px;
    height: 80px;
    border: 2px solid red;
}

/* 검색창 */
.search{
    width: 400px;
    height: 40px;
    border: 1px solid #ccc;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
input[type=text]{
    border: 1px solid red;
    width: 350px;
    height: 33px;
}
input:focus{
    outline: none;
}

/* 마이페이지 */
.user{
    border: solid 2px blue;
}


/* 메인 섹션(조원 작업존) */
.common_section{
    width: 100%;
    height: 150vh;

    border: solid 2px blue;
    position: relative;
}


/* 사이드바 */
.common_sidebar{
    width: 200px;
    height: 150vh;
    border: solid 2px red;
    background-color: whitesmoke;

    position: absolute;
    top: 0px;
    left: 0px;
}
.sidebar_menu{
    /* border: solid 5px brown; */
    height: 100%;
    margin: 0;
    padding: 0;
}
.sidebar_menu>li{
    border: solid 2px red;
    width: 100%;
    height: 10vh;
    text-align: center;
    line-height: 60px;
}
/* 사이드바 카테고리 상하 나누는 부분 */
.sidebar_menu>li:nth-child(6){
    margin-top: 90%;
}

/* 토글 스위치 */
.Sidebar_btn{
    width: 50px;
    height: 50px;
    background-color: blue;

    position: absolute;
    left: 200px;
    top: 0px;
}


/* 상단 스크롤 이동 버튼 */
.toTop{
    width: 50px;
    height: 50px;
    background-color: brown;

    position: absolute;
    right: 0px;
    bottom: 0px;
}
/* 푸터 */
.common_footer{
    width: 100%;
    height: 150px;

    border: solid 2px red;
}


