*{
    box-sizing: border-box;
    margin: 0px;
}

:root{
    --main-black-color: rgb(29,32,34); /* 메인 블랙칼라 */
    --main-white-color:rgb(247,247,247);  /* 메인 화이트칼라 */
    --main-red-color: rgb(238,43,42);  /* 메인 레드 칼라 */
    --main-text-color: rgb(247,247,247);

    --ex-border-color: crimson;  /* 보드 테스트 레드 칼라 */

    
}

/* ================================= */




/* ================================= */
.myPage{
    width: 100%;
    height: 150vh;
    border: solid 3px blue;

    padding: 0% 10%;
}
/* ================================= */
/* 자기소개 */
.introduce{
    width: 100%;
    height: 20%;
    border: solid 3px brown;

    display: flex;
}
/* 이미지 */
.introduce>div:nth-child(1){
    width: 30%;
    height: 100%;
    border: solid 3px brown;
}
/* 소개텍스트 */
.introduce>div:nth-child(2){
    width: 70%;
    height: 100%;
    border: solid 3px brown;
}

.introduce>div:nth-child(2)>.introduce_nickname{
    width: 100%;
    height: 30%;
    border: solid 2px brown;
}
.introduce>div:nth-child(2)>.introduce_text{
    width: 100%;
    height: 70%;
    border: solid 2px brown;
}




/* 커미션 */
.comition{
    width: 100%;
    height: 10%;
    border: solid 3px brown;
}
/* 내활동점수 */
.level{
    width: 100%;
    height: 20%;
    border: solid 3px brown;

    display: flex;
}
.level>.score{
    width: 40%;
    height: 100%;
    border: solid 2px yellow;
}
.level>.graph{
    width: 60%;
    height: 100%;
    border: solid 2px yellow;
}


/* 내 주력 언어 */
.language{
    width: 100%;
    height: 10%;
    border: solid 3px brown;
}
/* 컨택트 & 지도 */
.contact{
    width: 100%;
    height: 25%;
    border: solid 3px brown;

    display: flex;
}
.contact>.mySite{
    width: 40%;
    height: 100%;
    border: solid 3px blue;
}
.contact>.mySite> ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.contact>.mySite> ul>li{
    border: 2px solid green;
    width: 100%;
    height: 5vh;
}
.contact>.myArea{
    width: 60%;
    height: 100%;
    border: solid 3px blue;
}


/* 내가 속한팀 */
.myTeam{
    width: 100%;
    height: 15%;
    border: solid 3px brown;
}

/* ================================= */
