/* ***************모달창************* */
.modalbackground{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
}
.modalview{
    background-color: whitesmoke;
    width: 55%;
    height: 90%; 
    display: flex;
}
.xicon{
    font-size: 1.3rem;
}
.modalleft{
    border: 3px solid black;
    width: 50%;
}
.teamdata{
    border: 1px solid crimson;
    width: 100%;
    height: 60%;
}
.btndiv{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.teamrequestbtn{
    padding: 20px 40px;
    background-color: rgb(78, 78, 250);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
}
.modalright{
    border: 3px solid black;
    width: 50%;
}
.graph{
    border: 1px solid red;
    width: 100%;
    height: 50%;
}
.table{
    border: 1px solid green;
    width: 100%;
    height: 50%;
}

/* **********팀 목록********* */
.teamlist{
    width: 75%;
    /* border: 5px solid red; */
}
.teamsearch{
    border: 3px solid black;
    width: 100%;
    height: 15vh;
    margin-top: 10vh;
    display: flex;
}
.teamsearch ul{
    height: 100%;
    display: flex;
    align-items: center;
}
.searchleft{
    margin-right: 300px;
}
.searchleft li{
    list-style: none;
    margin: 0 30px;
}
.searchright li{
    list-style: none;
    margin: 0 10px;
}
.searchleft li input[type="checkbox"]{
    margin: 0 10px;
}

.teamlistboxes{
   /* border: 5px solid greenyellow; */
    width: 100%;
    margin-top: 10vh;
}
.teamlistbox{
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    width: 100%;
    height: 30vh;
    margin-bottom: 5vh;
    display: flex;
    padding: 20px;
}
.teamlistbox h1{
    /* border: 1px solid black; */
    padding: 0 0 0 10px;
}
.teamlistbox p:nth-child(2){
    /* border: 1px solid black; */
    font-size: 1.3rem;
    padding: 20px 10px 0 10px;
}
.teamlistbox p:nth-child(4){
    /* border: 1px solid black; */
    font-size: 1.2rem;
    padding: 10px 10px;
}
.languagetag{
    /* border: 1px solid black; */
    padding: 10px 10px;
}
.teamlistbox a{
    /* border: 1px solid black; */
    font-size: 1.2rem;
}
.teamlistbox a:hover{
   text-decoration: none;
}
.teamboxoneleft{
    /* border: 1px solid black; */
    width: 80%;
}
.teamboxoneright{
    /* border: 1px solid black; */
    width: 20%;
}
.teamboxoneright{
    border: 1px solid black;
    font-size: 2rem;
}
.teambtndiv{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}
.teamimage{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.teamimage img{
    border-radius: 50%;
    width: 70%;
}