<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>팀정보모달</title>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/resource/css/teammodal.css">
</head>
<body>
    <div class="modalbackground">
        <div class="modalview">
            <div class="modalleft">
                <div class="teamdata">
                    <h2><i class="fa-solid fa-user"></i> 팀이름</h2>
                    <div>에러 해결 누적 건수 : <a href="">1</a> 회</div> 
                    <div>팀 총 커미션 : <a href="">100,000</a> </div> 
                    <h3>팀원(최대 5명? -> 미정)</h3>
                    <!-- 닉네임을 mouseover했을 때 마이페이지로 들어가져서 유저정보 보기가능 -->
                        <div class="teammember">
                            <ul>
                                <li><i class="fa-solid fa-fire"></i></li>
                                <li><a href="">level</a></li>
                                <li><a href="/view/mypage/myPage.html"><i class="fa-solid fa-user"></i></a></li>
                                <li><a href="/view/mypage/myPage.html">nickname</a> <i class="fa-solid fa-crown"></i></li>
                                <li><button type="button" class="teamgraybtn">(팀장만)강퇴하기</button></li>
                            </ul>
                        </div>
                        <div class="teammember">
                            <ul>
                                <li><i class="fa-solid fa-fire"></i></li>
                                <li><a href="">level</a></li>
                                <li><a href="/view/mypage/myPage.html"><i class="fa-solid fa-user"></i></a></li>
                                <li><a href="/view/mypage/myPage.html">nickname</a></i></li>
                                <li><button type="button" class="teamgraybtn">(팀장만)강퇴하기</button></li>
                            </ul>
                        </div>
                        <div class="teammember">
                            <ul>
                                <li><i class="fa-solid fa-fire"></i></li>
                                <li><a href="">level</a></li>
                                <li><a href="/view/mypage/myPage.html"><i class="fa-solid fa-user"></i></a></li>
                                <li><a href="/view/mypage/myPage.html">nickname</a></i></li>
                                <li><button type="button" class="teamgraybtn">(팀장만)강퇴하기</button></li>
                            </ul>
                        </div>
                        <div class="teammember">
                            <ul>
                                <li><i class="fa-solid fa-fire"></i></li>
                                <li><a href="">level</a></li>
                                <li><a href="/view/mypage/myPage.html"><i class="fa-solid fa-user"></i></a></li>
                                <li><a href="/view/mypage/myPage.html">nickname</a></i></li>
                                <li><button type="button" class="teamgraybtn">(팀장만)강퇴하기</button></li>
                            </ul>
                        </div> 
                        <div class="teammember">
                            <ul>
                                <li><i class="fa-solid fa-fire"></i></li>
                                <li><a href="">level</a></li>
                                <li><a href="/view/mypage/myPage.html"><i class="fa-solid fa-user"></i></a></li>
                                <li><a href="/view/mypage/myPage.html">nickname</a></i></li>
                                <li><button type="button" class="teamgraybtn">(팀장만)강퇴하기</button></li>
                            </ul>
                        </div>  
                </div>
                <div class="btndiv">
                    <button type="button" class="teamrequestbtn">(비회원or 회원이지만 팀원x)팀 가입</button>
                </div>
                <div class="btndivtwo">
                    <button type="button" class="teamendbtn">(팀원)팀 탈퇴하기</button>
                </div>
            </div>

            <div class="modalright">
                <div class="notice">
                    팀 공지사항 -> 팀장이 올리는 것/ 비회원은 볼 수 x
                    <div class="noticeboxdiv">
                        <div class="noticebox">
                             <div class="title">제목</div>
                             <div class="description">공지사항 내용입니다.</div>
                             <div class="creationdate">2022-08-26</div>
                        </div>
                    </div>
                    <div class="noticeboxdiv">
                        <div class="noticebox">
                             <div class="title">제목</div>
                             <div class="description">공지사항 내용입니다.</div>
                             <div class="creationdate">2022-08-26</div>
                        </div>
                    </div>
                    <div class="noticeboxdiv">
                        <div class="noticebox">
                             <div class="title">제목</div>
                             <div class="description">공지사항 내용입니다.</div>
                             <div class="creationdate">2022-08-26</div>
                        </div>
                    </div>
                    <div class="paging">페이징</div>
                    <button type="button" class="teamgraybtn noticebtn">(팀장만)공지사항올리기</button>
                </div>

                <div class="table">
                    팀 수상내역/해결한 버그리포트 테이블
                    <table>
                        <tr>
                            <td>날짜</td>
                            <td>해결</td>
                            <td>해결중</td>
                            <td>미해결</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                        </tr>
                    </table>
                </div>
            </div>
            <ion-icon name="close-outline" class="xicon"></ion-icon>
        </div>
    </div>

</body>
</html>