<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>팀만들기 -> 페이지 ? or 모달 ?</title>
    <link rel="stylesheet" href="/resource/css/teammaking.css">
</head>
<body>
    <div class="container">
        <!-- 팀이름, 팀로고(이미지)설정,팀인원수20명까지(설정가능) -->
        <div class="team divone">
            <div class="title">팀 이름</div>
            <div><input type="text" id="teaminput"></div>
        </div>
        <div class="team divtwo">
            <div class="title">팀 로고</div>
            <div class="img"><img src="" alt="">프로필사진넣기</div>
        </div>
        <div class="team divthr">
            <div class="title">팀원 수(최대 _명 / _명 이상 유료)</div>
            <select name="" id="">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="">
            
        </div>
        <div class="team join btn">
            <button>팀 생성하기</button>
        </div>
    </div>
    <!-- <div>팀생성하기 버튼</div> -->
</body>
</html>