<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/resource/css/teamlist.css">
     <!-- 아이콘 -->
     <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
</head>
<body>
<div class="teamlistcontainer">

    <div class="teamlistsearch">
        <div class="searchbar">
            전체, (날짜)최신순 > 선택(체크박스 or select option)
            / 언어 > 선택
            / 종합검색기능
        </div>
        <div class="teammakingbtn">
            <a href="teammaking.html"><button>팀만들기</button></a>
        </div>
    </div>

    <!-- 몇박스 view할지는 아직 미정 -->
    <div class="teamlistbox">
        <div class="img">
            <img src="/resource/img/pIiRs.jpg" alt="">
        </div>
        <div class="teamlistboxleft">
            <div class="teamtitle">team Name</div>
            <div class="teamdescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores ratione, consequuntur harum voluptate deleniti, suscipit odit reprehenderit, qui aliquam debitis nostrum? Aliquam ad cupiditate, dicta ducimus itaque nisi molestiae impedit.</div>
            <div class="languagetag">
                <button type="button" class="tagbtn"><a href="">HTML</a></button>
                <button type="button" class="tagbtn"><a href="">DB</a></button>
                <button type="button" class="tagbtn"><a href="">JS</a></button>
            </div>
            <div class="teamcreationdate">2022-08-22</div>
       </div>
       <div class="teamlistboxright">
            <div class="btndiv">
                <button class="join btn">모집 인원 : 1 명</button>
            </div>
            <div class="teamicons">
                <div class="heart icons">
                    <ion-icon name="heart-outline"></ion-icon>
                </div>
                <div class="heartcount icons"><a href="">1(숫자)</a></div>
                <div class="linkcopy icons">
                    <ion-icon name="link-outline" class="md hydrated"></ion-icon>
                    <span class="tooltip">Copy</span>
                    <span class="tooltiptwo">Copied</span>
                </div>
            </div>
       </div>
    </div>

    <div class="teamlistbox">
        <div class="img">
            <img src="/resource/img/pIiRs.jpg" alt="">
        </div>
        <div class="teamlistboxleft">
             <div class="teamtitle">team Name</div>
             <div class="teamdescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores ratione, consequuntur harum voluptate deleniti, suscipit odit reprehenderit, qui aliquam debitis nostrum? Aliquam ad cupiditate, dicta ducimus itaque nisi molestiae impedit.</div>
             <div class="languagetag">
                 <button type="button" class="tagbtn"><a href="">HTML</a></button>
                 <button type="button" class="tagbtn"><a href="">DB</a></button>
                 <button type="button" class="tagbtn"><a href="">JS</a></button>
             </div>
             <div class="teamcreationdate">2022-08-22</div>
        </div>
        <div class="teamlistboxright">
             <div class="btndiv">
                 <button class="joinend btn">마감</button>
             </div>
             <div class="teamicons">
                 <div class="heart icons">
                     <ion-icon name="heart-outline"></ion-icon>
                 </div>
                 <div class="heartcount icons"><a href="">1(숫자)</a></div>
                 <div class="linkcopy icons">
                    <ion-icon name="link-outline" class="md hydrated"></ion-icon>
                     <span class="tooltip">Copy</span>
                     <span class="tooltiptwo">Copied</span>
                 </div>
             </div>
        </div>
     </div>

     <div class="teamlistbox">
        <div class="img">
            <img src="/resource/img/pIiRs.jpg" alt="">
        </div>
        <div class="teamlistboxleft">
             <div class="teamtitle">team Name</div>
             <div class="teamdescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores ratione, consequuntur harum voluptate deleniti, suscipit odit reprehenderit, qui aliquam debitis nostrum? Aliquam ad cupiditate, dicta ducimus itaque nisi molestiae impedit.</div>
             <div class="languagetag">
                 <button type="button" class="tagbtn"><a href="">HTML</a></button>
                 <button type="button" class="tagbtn"><a href="">DB</a></button>
                 <button type="button" class="tagbtn"><a href="">JS</a></button>
             </div>
             <div class="teamcreationdate">2022-08-22</div>
        </div>
        <div class="teamlistboxright">
             <div class="btndiv">
                 <button class="join btn">모집 인원 : 1 명</button>
             </div>
             <div class="teamicons">
                 <div class="heart icons">
                     <ion-icon name="heart-outline"></ion-icon>
                 </div>
                 <div class="heartcount icons"><a href="">1(숫자)</a></div>
                 <div class="linkcopy icons">
                    <ion-icon name="link-outline" class="md hydrated"></ion-icon>
                     <span class="tooltip">Copy</span>
                     <span class="tooltiptwo">Copied</span>
                 </div>
             </div>
        </div>
     </div>

     <div class="teamlistbox">
        <div class="img">
            <img src="/resource/img/pIiRs.jpg" alt="">
        </div>
        <div class="teamlistboxleft">
             <div class="teamtitle">team Name</div>
             <div class="teamdescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores ratione, consequuntur harum voluptate deleniti, suscipit odit reprehenderit, qui aliquam debitis nostrum? Aliquam ad cupiditate, dicta ducimus itaque nisi molestiae impedit.</div>
             <div class="languagetag">
                 <button type="button" class="tagbtn"><a href="">HTML</a></button>
                 <button type="button" class="tagbtn"><a href="">DB</a></button>
                 <button type="button" class="tagbtn"><a href="">JS</a></button>
             </div>
             <div class="teamcreationdate">2022-08-22</div>
        </div>
        <div class="teamlistboxright">
             <div class="btndiv">
                 <button class="join btn">모집 인원 : 1 명</button>
             </div>
             <div class="teamicons">
                 <div class="heart icons">
                     <ion-icon name="heart-outline" class="md hydrated"></ion-icon>
                 </div>
                 <div class="heartcount icons"><a href="">1(숫자)</a></div>
                 <div class="linkcopy icons">
                    <ion-icon name="link-outline" class="md hydrated"></ion-icon>
                     <span class="tooltip">Copy</span>
                     <span class="tooltiptwo">Copied</span>
                 </div>
             </div>
        </div>
     </div>

     <div class="teamlistbox">
        <div class="img">
            <img src="/resource/img/pIiRs.jpg" alt="">
        </div>
        <div class="teamlistboxleft">
             <div class="teamtitle">team Name</div>
             <div class="teamdescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores ratione, consequuntur harum voluptate deleniti, suscipit odit reprehenderit, qui aliquam debitis nostrum? Aliquam ad cupiditate, dicta ducimus itaque nisi molestiae impedit.</div>
             <div class="languagetag">
                 <button type="button" class="tagbtn"><a href="">HTML</a></button>
                 <button type="button" class="tagbtn"><a href="">DB</a></button>
                 <button type="button" class="tagbtn"><a href="">JS</a></button>
             </div>
             <div class="teamcreationdate">2022-08-22</div>
        </div>
        <div class="teamlistboxright">
             <div class="btndiv">
                 <button class="join btn">모집 인원 : 1 명</button>
             </div>
             <div class="teamicons">
                 <div class="heart icons">
                     <ion-icon name="heart-outline" class="md hydrated"></ion-icon>
                 </div>
                 <div class="heartcount icons"><a href="">1(숫자)</a></div>
                 <div class="linkcopy icons">
                    <ion-icon name="link-outline" class="md hydrated"></ion-icon>
                     <span class="tooltip">Copy</span>
                     <span class="tooltiptwo">Copied</span>
                 </div>
             </div>
        </div>
     </div>

     <div class="teamlistbox">
        <div class="img">
            <img src="/resource/img/pIiRs.jpg" alt="">
        </div>
        <div class="teamlistboxleft">
             <div class="teamtitle">team Name</div>
             <div class="teamdescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores ratione, consequuntur harum voluptate deleniti, suscipit odit reprehenderit, qui aliquam debitis nostrum? Aliquam ad cupiditate, dicta ducimus itaque nisi molestiae impedit.</div>
             <div class="languagetag">
                 <button type="button" class="tagbtn"><a href="">HTML</a></button>
                 <button type="button" class="tagbtn"><a href="">DB</a></button>
                 <button type="button" class="tagbtn"><a href="">JS</a></button>
             </div>
             <div class="teamcreationdate">2022-08-22</div>
        </div>
        <div class="teamlistboxright">
             <div class="btndiv">
                 <button class="join btn">모집 인원 : 1 명</button>
             </div>
             <div class="teamicons">
                 <div class="heart icons">
                     <ion-icon name="heart-outline"></ion-icon>
                 </div>
                 <div class="heartcount icons"><a href="">1(숫자)</a></div>
                 <div class="linkcopy icons">
                    <ion-icon name="link-outline" class="md hydrated"></ion-icon>
                     <span class="tooltip">Copy</span>
                     <span class="tooltiptwo">Copied</span>
                 </div>
             </div>
        </div>
     </div>

     <div class="teamlistpaging">
        페이지 넘기기
     </div>
</div>
     <script src="./js/teamlist.js"></script>
</body>
</html>