/* 관리자페이지 2022-08-22 bear */
*{
    box-sizing: border-box;
    margin: 0px;
}

/* 왼쪽 사이드 메뉴영역 */
.adminList > li {
    width: 100%;
    height: 4vh;
    line-height: 4vh;
    list-style: none;
    margin-top: 3vh;
    /* border: 1px solid blue; */
}
.adminList > li:hover {
    background-color: rgb(241, 132, 92);
}
.adminList > li > a {
    height: 4vh;
    display: block;
    margin-left: 3vh;
    text-decoration: none;
    color: black;
    /* border: 1px solid rgb(210, 85, 18); */
}

/* 상단 관리자페이지 카테고리 타이틀영역 */
.adminTitle {
    width: 100%;
    height: 4vh;
    display: flex;
    align-items: center;
    margin: 1vh 0 1vh 15px;
}


/* 메인 회원관리 수치 표시영역 */
.adminT {
    height: 55vh;
    padding: 15px;
    /* border: solid 3px rgb(77, 241, 44); */
    
}
.adminCbtn {
    width: 90px;
    height: 35px;
    border: none;
    margin-right: 10px;
    border-radius: 5px;
    background: rgb(235, 117, 48);
    cursor: pointer;
}
.Figure {
    width: 50px;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin-left: -10px;
}

/* 가입된 회원정보 관리영역 */
.admin_Customer {
   width: 100%;
   height: 40vh;
   text-align: center;
   border-collapse: collapse;
}

/* 회원정보 페이징 영역 */
.admin_Paging {
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
    /* border: 2px solid blue; */
}
.admin_Paging > a {
    width: 35px;
    height: 35px;
    display: block;
    margin-right: 10px;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    font-size: 13px;
    color: black;
    border: 1px solid grey;
}
/* .admin_Paging > a:hover {
    background: rgb(241, 132, 92);
} */


