*{
    box-sizing: border-box;
    margin: 0px;
}

:root{
    --main-black-color: rgb(29,32,34); /* 메인 블랙칼라 */
    --main-white-color:rgb(247,247,247);  /* 메인 화이트칼라 */
    --main-red-color: rgb(238,43,42);  /* 메인 레드 칼라 */
    --main-text-color: rgb(247,247,247);

    --ex-border-color: crimson;  /* 보드 테스트 레드 칼라 */
    --new-border-orange: solid 1px rgb(235, 117, 48);
    

}

.container{
    padding-left: 10%;
    padding-right: 10%;
    /* padding: 20px 0px; */
    padding-top: 2%;

  }

/* basicFrame */
/* =============헤더 전체틀============ */
.common_header{
    width: 100%;
    height: 8vh;
    min-width: 1280px;

    /* fixed 주석 처리하면 원래상태로 바뀜 */
    position: fixed;
    z-index: 100;
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 2px #ccc; */

    background-color: rgba(255, 255, 255, 1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px 0px;
}



/* 헤더 왼쪽 */
.common_header_left{
    width: 10%;
    height: 100%;
    /* border: 2px solid pink; */

    /* color: black; */
}
.common_header_left>img{
    width: 80%;
    height: 100%;

    object-fit: contain;
}
/* 헤더 가운데 */
.common_header_center{
    width: 60%;
    height: 100%;
    /* border: 2px solid pink; */

    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* 헤더 카테고리 */
.header_menu{
    display: flex;
    align-items: center;
    line-height: 45px;
    margin: 0; padding: 0;
}
.header_menu>li{
    width: 130px;
    height: 50px;
    /* border: 2px solid pink; */


    font-size: 20px;
    list-style-type: none;
    text-align: center;
}

.header_menu>li>a{
    color:rgba(25, 25, 25, 1) ;
    text-decoration: none;
}

.header_menu>li>a:hover{
    color:  rgba(248,58,37,1);
}

/* 헤더 오른쪽 */
.common_header_right{
    width: 10%;
    height: 100%;
    /* border: 2px solid pink; */

    display: flex;
    justify-content: center;
    align-items: center;
}


/* 마이페이지, 알람기능 */


.user,.alarm{
    width: 50%;
    height: 100%;

    justify-content: center;
    align-items: center;

    position: relative;
    /* border: solid 2px red;   */

}

.user>div,.alarm>div{
    width: 50px;
    height: 50px;
    /* background-color: red; */
   /* background-image: url(/resource/img/alarm.png); */
    border: solid 2px red;  
    /* border-radius: 50%; */
   
    position: absolute;
    
    top: 10px;
    left: 20px;
    

    
    
}
/* 헤더 유저 드롭다운 */
.user>ul{   
    border: solid 2px #ccc;
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
    margin: 0; padding: 0;

    width: 200px;
    height: 300px;

    position: absolute;
    z-index: 100;
    top: 75px;
    right: -98px;

    display: none;
}



.user>ul>li,.alarm>ul>li{   
    /* border: solid 2px red;   */

    width: 100%;
    height: 20%;

    list-style-type: none;
    line-height: 40px;
    padding-left: 10px;
 
}
/* 헤더 알람 드롭다운 */
.alarm>ul{   
    border: solid 2px #ccc;
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
    margin: 0; padding: 0;

    width: 400px;
    height: 300px;

    position: absolute;
    z-index: 100;
    top: 75px;
    right: 0px;

    display: none;
    overflow-y: scroll;
}

.alarm>ul>li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.alarm>ul>li>span:nth-child(1){
    /* border: 1px solid blue; */
    width: 250px;
    height: 30px;
    font-size: 15px;
    /* text-align: center; */
    overflow: hidden;

    line-height: 30px;
}
.alarm>ul>li>span:nth-child(2){
    border: 1px solid #ccc;
    background-color: pink;
    border-radius: 5px;
    width: 50px;
    height: 30px;   
    
    font-size: 10px;
    text-align: center;

    padding: 0;
    line-height: 30px;
}

/* ================================================ */
/* 메인 섹션(조원 작업존) */
.common_section{
    width: 100%;
    height: 150vh;
    background-color: white;
    min-width: 1280px;

    /* border: 3px solid red; */
    

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 왼쪽 사이드 */
.sideLeft{
    background-color: white;
    /* border: solid 2px var(--ex-border-color); */
    height: 135vh;
    width: 15%;
    
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px 0px;

    margin-right: 10px;
}

/* 메인섹션 */
.main{
    background-color: white;
    border: solid 2px #ccc;
    border-radius: 10px;
    height: 150vh;
    height: 90%;
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px 0px;


}

/* 오른쪽 사이드 */
.sideRight{
    background-color: white;
    /* border: solid 2px var(--ex-border-color); */
    /* height: 150vh; */
    width: 15%;
}

/* ====================푸터=================== */
.common_footer{
    width: 100%;
    height: 15vh;
    min-width: 1280px;
    border: solid 2px #ccc;
    background-color: white;
}


/* ==================잡기능 모음집============== */
/* 상단 이동 위치 조절(x,y) */
.toTop{
    width: 50px;
    height: 50px;
    /* background-color: brown; */
    text-align: center;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

/* 상단 이동 아이콘 */
.uil-arrow-circle-up{
    font-size: 40px;
}

/* ============================= */
/* 내 프로필 및 마이페이지 내역  */
.mySection{
    width: 100%;
    height: 150vh; 
    border: solid 3px var(--ex-border-color);

    display: flex;
    
}

/*! 사이드바 */

/* 사이드바 리스트 */
.myList{
    width: 100%;
    height: 100%;
    border: solid 2px #ccc;
    border-radius: 10px;
}

.myList>ul{
    margin: 0; padding: 0;
}
.myList>ul>li{
    width: 100%;
    height: 10vh;
    /* border: solid 3px var(--ex-border-color); */

    list-style-type: none;
    text-align: center;
    font-size: 15px;

}
/* 프로필 이미지 부분 사이즈 조정 */
.myList>ul>li:nth-child(1){
    height: 30vh;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: nowrap;
}
/* 사이드바 이미지와 텍스트의 간격 */
.myList>ul>li:nth-child(2){
    margin-bottom: 50px;
}

/* 사이드바 이미지의 사이즈 */
.myList>ul>li:nth-child(1)>div{
   width: 200px;
   height: 200px;

   background-image: url(/resource/img/pepe.png);
   border-radius: 50%;
}


/* 글자 간격 */
.mypage_title{
    margin: 15px 0;
}
/* ================================= */
.myPage{
    width: 100%;
    height: 150vh;
    /* border: solid 3px blue; */

    padding: 0% 10%;

    /* display: flex; */
    flex-wrap: wrap;
}
/* ================================= */
/* 자기소개 */
.introduce{
    width: 100%;
    height: 20%;
    border: var(--new-border-orange);
    border-radius: 5px;

    display: flex;
}
/* 이미지 */
.introduce>div:nth-child(1){
    width: 30%;
    height: 100%;
    border: var(--new-border-orange);
}
/* 소개텍스트 */
.introduce>div:nth-child(2){
    width: 70%;
    height: 100%;
    /* border: solid 2px brown; */
}

.introduce>div:nth-child(2)>.introduce_nickname{
    width: 100%;
    height: 30%;
    display: flex;
}

.introduce_nickname>.name{
    width: 40%;
    height: 100%;
    border: solid 1px #ccc;
    border-radius: 5px;

    text-align: center;
}
.introduce_nickname>.follow{
    width: 60%;
    height: 100%;
    border: solid 1px #ccc;
    border-radius: 5px;
}

.introduce>div:nth-child(2)>.introduce_text{
    width: 100%;
    height: 70%;
    border: solid 1px #ccc;
    border-radius: 5px;
}

/* 컨택트 */
.contact{
    width: 100%;
    height: 7%;
    border: solid 1px #ccc;
    background-color: white;
    border-radius: 5px;

    text-align: center; 

    padding: 10px;
    display: flex;
    
}
.contact>div> ul{
    list-style-type: none;

    display: flex;
    justify-content: center;
    align-items: center;
}
.contact>div>ul>li{
    border: solid 1px #ccc;
    background: linear-gradient(to left, rgb(255, 77, 46), rgb(255, 155, 47));

    width: 100px;     
    height: 50px;
    border-radius: 5px;

    margin: 0 30px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}


.contact>div:nth-child(1){
    /* border: solid 2px red; */
    width: 90%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact>div:nth-child(2){
    /* border: solid 2px red; */
    width: 10%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* =============================== */
/* 나의 커미션 */
.comition_1{
    width: 100%;
    height: 7%;
    border: solid 1px #ccc;
    border-radius: 5px;
    /* text-align: center;  */

    padding: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.comition_1>div:nth-child(1){
    /* border: solid 2px red; */
    width: 90%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.comition_1>div:nth-child(2){
    /* border: solid 2px red; */
    width: 10%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* =============================== */

/* 나의 해결률 */
.myHistory{
    width: 100%;
    height: 7%;
    border: solid 1px #ccc;
    border-radius: 5px;
    text-align: center; 

    padding: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.myHistory>div:nth-child(1){
    /* border: solid 2px red; */
    width: 90%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.myHistory>div:nth-child(2){
    /* border: solid 2px red; */
    width: 10%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* =============================== */
/* 나의 팀 */
.myTeam{
    width: 100%;
    height: 7%;
    border: solid 1px #ccc;
    border-radius: 5px;
    text-align: center; 

    padding: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.myTeam>div:nth-child(1){
    /* border: solid 2px red; */
    width: 90%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.myTeam>div:nth-child(2){
    /* border: solid 2px red; */
    width: 10%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* =============================== */
/* 나의 점수 */
.myScore{
    width: 100%;
    height: 7%;
    border: solid 1px #ccc;
    border-radius: 5px;
    text-align: center; 

    padding: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.myScore>div:nth-child(1){
    /* border: solid 2px red; */
    width: 90%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.myScore>div:nth-child(2){
    /* border: solid 2px red; */
    width: 10%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* =============================== */
/* 나의 언어 */
.myLanguage{
    width: 100%;
    height: 7%;
    border: solid 1px #ccc;
    background-color: white;
    border-radius: 5px;

    text-align: center; 

    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.myLanguage>ul{
    list-style-type: none;

    display: flex;
    justify-content: center;
    align-items: center;
}
.myLanguage>ul>li{
    border: var(--new-border-orange);
    background: linear-gradient(to left, rgb(255, 77, 46), rgb(255, 155, 47));

    width: 100px;     
    height: 50px;
    border-radius: 5px;

    margin: 0 30px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* ================================= */
