:root{
    --main-black-color: rgb(29,32,34); /* 메인 블랙칼라 */
    --main-white-color:rgb(247,247,247);  /* 메인 화이트칼라 */
    --main-red-color: rgb(238,43,42);  /* 메인 레드 칼라 */
    --main-text-color: rgb(247,247,247);
    --ex-border-color: crimson;  /* 보드 테스트 레드 칼라 */
    
    --teamlist-border: 1px solid gainsboro;

    --btn-color: #0078FF;
}
/* a태그 기본 설정 */
.main a{
    text-decoration: none;
    color: var(--main-black-color);
}
/* 검색기능 틀 */
.teamlistsearch{
    border-bottom: var(--teamlist-border);
    width: 100%;
    height: 15vh;
}
.type{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.type div{
    padding: 0 5vh;
}
.type div a{
    color: gray;
}
.type div a:hover{
    color: black;
}
.search{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
}
/* 검색창 */
.search-box{
    width: 90%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-box form{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
}
.search-box input[type="text"]{
    border: var(--teamlist-border);
    border-radius: 50px;
    width: 80%;
    height: 100%;
    padding: 0 20px;
}
.search-box form input[type="text"]:focus{
    outline: 1px solid gray;
}
.search-box .uil-search{
    color: black;
    position: relative;
    top: 5%;
    right: 5%;
    cursor: pointer;
}

/* 팀만들기 버튼 */
.teammakingbtn{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.teammakingbtn button{
    padding: 10px;
    color: white;
    background: var(--btn-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* 팀목록 가장 큰 틀 */
.teamlistbox{
    border-bottom: var(--teamlist-border);
    display: flex;
    width: 100%;
    min-height: 10vh;
}
/* 팀목록 박스 큰 틀 */
.teamlistboxleft{
    width: 72%;
    padding: 2vh 0 0 0;
}
.teamlistboxright{
    width: 20%;
    border-left: var(--teamlist-border);
    /* border: 1px solid black; */
}
/* 팀 프로필 이미지 */
.img{
    padding: 2vh 1% 1% 1%;
    width: 8%;
    height: 50%;
}
.img img{
    width: 100%;
    height: 100%;
}
/* 팀이름 */
.teamtitle{
    display: inline-block;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 550;
}
.teamtitle:hover{
    color: #0064CD;
}
/* 내용 */
.teamdescription{
    font-size: 1rem;
    padding: 2vh 0;
}
/* 태그 */
.tagbtn{
    background-color: gainsboro;
    border-radius: 5px;
    border: none;
    padding: 5px 1vh;
}
.tagbtn:hover{
    background-color: rgb(190, 189, 189);
}
/* 날짜 */
.teamcreationdate{
    padding: 1vh 0;
}
/* 버튼 div */
.btndiv{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}
/* 아이콘들 */
.teamicons{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 10px;
    /* border: 1px solid black; */
}
/* 버튼들 */
.btn{
    border: none;
    border-radius: 5px;
    padding: 10px 20px; 
}
/* 모집인원 */
.join{
    background: var(--btn-color);
    color: var(--main-text-color);
}
/* 모집마감 */
.joinend{
    background-color: rgb(186, 186, 186);
    color: var(--main-text-color);
}
/* 링크 */
.linkcopy{
    cursor: pointer;
    border: none;
    position: relative;
}
.linkcopy ion-icon{
    font-size: 1.8rem;
}

/* 툴팁 */
.tooltip{
    position: absolute;
    top: 100%;
    left: -40%;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--main-text-color);
    border-radius: 5px;
    font-size: 0.8rem;
    padding: 5px 10px;

    transition: all .2s;
    opacity: 0;
}
.tooltip.ani{
    animation-name: copy;
    animation-duration: .1s;
}

@keyframes copy {
    0%{
        opacity: 0.2;
        top: 120%;
    }
    30%{
        opacity: 0.5;
        top: 115%;
    }
    50%{
        opacity: 0.7;
        top: 110%;
    }
    70%{
        opacity: 0.9;
        top: 105%;
    }
    100%{
        opacity: 1;
        top: 100%;
    }
}

.tooltip::after{
    content: "";
    position: absolute;
    top: -63%;
    left: 35%;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.5) transparent;
}

.tooltiptwo{
    position: absolute;
    top: 100%;
    left: -50%;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--main-text-color);
    border-radius: 5px;
    font-size: 0.8rem;
    padding: 5px 10px;

    transition: all .2s;
    opacity: 0;
}

.tooltiptwo::after{
    content: "";
    position: absolute;
    top: -63%;
    left: 35%;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent;
}
/* 페이징 */
.teamlistpaging{
    height: 5%;
}

