/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
:root{
    --modal-bg-color: rgba(0, 0, 0, 0.4);
    --border-color: #e5e4e9;
    --dark-border-color:#ccc;

    --basic-white-color:white;
    --basic-gainsboro-color:gainsboro;
    --basic-gray-color:gray;
    --basic-black-color:#333;
    --basic-border-radius:5px;

    --hover-btn-color:#e4e6f5;
}

#xicon{
    font-size: 1.5rem;
    border-radius: var(--basic-border-radius);
    box-shadow: 1px 1px 3px 1px var(--basic-gray-color);
    background-color: var(--basic-white-color);
    position: relative;
    top: -46%;
    left: 1%;
    cursor: pointer;

    display: none;
}
.modal-div{
    background-color: var(--modal-bg-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;


    display: none;
}
#teammodal-div{
    width: 60%;
    height: 95%;
    background-color: var(--basic-white-color);
}
#team-navbar{
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
}
#teamname a{
    text-decoration: none;
    color: var(--basic-black-color);
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}
#teamname{
    /* border: 1px solid red; */
    width: 30%;
    text-align: center;
    padding: 5px 10px;
}
#team-category{
    /* border: 1px solid red; */
    width: 70%;
    display: flex;
    justify-content: space-around;
}
#team-category a{
    text-decoration: none;
    color: var(--basic-black-color);
    letter-spacing: 1.2px;
    background-color: var(--basic-gainsboro-color);
    padding: 5px 10px;
    border-radius: var(--basic-border-radius);
}
#team-category a:hover{
    background-color: var(--hover-btn-color);
}


#team-content{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* 공지사항 미리보기 */
.content-team-date{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px 0px;
    width: 95%;
    height: 30%;
    margin-top: 5%;
}
.content-team-date table{
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}
.content-team-date table td{
    border: 1px solid var(--dark-border-color);
}
.team-content-date-detail{
    width: 95%;
    margin-top: 1%;
    display: flex;
    justify-content: flex-end;
}
.team-content-date-detail a{
    text-decoration: none;
    color: var(--basic-black-color);
    padding: 0 10px;
    background-color: var(--basic-gainsboro-color);
    border-radius: var(--basic-border-radius);
    cursor: pointer;
}

.team-content-date-detail a:hover{
    background-color: var(--hover-btn-color);
}

/* 팀정보 */
.content-team-profile{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px 0px;
    border-radius: var(--basic-border-radius);
    width: 95%;
    height: 30%;
    margin-top: 5%;
}
.content-team-profile div{
    border-bottom: 1px solid var(--dark-border-color);
    width: 100%;
    height: 33.3%;
    display: flex;
    align-items: center;
}
/* 팀원정보 */
.content-team-member{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px 0px;
    border-radius: var(--basic-border-radius);
    width: 95%;
    height: 60%;
    margin-top: 5%;
}
.content-team-member table{
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}
.content-team-member td{
    border: 1px solid var(--dark-border-color);
}
/* 페이징 */
#teammember-paging{
    margin-top: 2%;
}
#teammember-paging ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
#teammember-paging ul li{
    padding: 0 10px;
    margin: 0 5px;
    background-color: var(--basic-gainsboro-color);
    border-radius: var(--basic-border-radius);
    cursor: pointer;
}
#teammember-paging ul li:hover{
    background-color: var(--hover-btn-color);
}