<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/resource/css/BasicFrame.css">
        <!-- 유니콘 아이콘 사이트 -->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
        <link rel="stylesheet" href="/resource/css/boardWriteForm.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"
            integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/smart/js/HuskyEZCreator.js" charset="utf-8"></script>
        <title>boardWriteForm</title>
    </head>

<body>

     <!-- ======================== 헤더 ======================= -->
    <div class="common_header">
        <!-- 헤더 섹션 왼쪽 -->
        <div class="common_header_left">
            <img src="/resource/img/HOT.png" alt="">
        </div>
        <!-- 헤더 섹션 가운데 -->
        <div class="common_header_center">
            <!-- 카테고리 -->
            <ul class="header_menu">
                <li><a href="">HOTFIX</a></li>
                <li><a href="">팀페이지</a></li>
                <li><a href="">랭킹</a></li>
                <li><a href="">커뮤니티</a></li>
            </ul>
            
        </div>
        <!-- 헤더 섹션 오른쪽 -->
        <div class="common_header_right">
            <!-- 마이페이지 -->
            <div class="user">
                <i class="uil uil-user-circle"></i>
                
            </div>
            <!-- 알림페이지 -->
            <div class="alarm">
                <i class="uil uil-bell"></i>
            </div>
        </div>
        <div class="dropList">
            
        </div>
       
    </div>

    <div class="container">
    <!-- ======================== 작업 섹션 ======================= -->
    <div class="common_section">
        <!-- 왼쪽 사이드 -->
        <div class="sideLeft">
            <!-- <div class="myList">
                <ul>
                    <li>
                        <div>
                            
                        </div>
                    </li>
                    <li> -->
                        <!-- 닉네임 -->
                        <!-- <p>잉잉잉의</p> -->
                        <!-- 회원 고유번호 -->
                        <!-- <p>#9877</p>
                    </li>
                    <li>마이페이지</li>
                    <li>정보 수정</li>
                    <li>나의 작성글</li>
                    <li>결제 및 정산</li> 
                </ul>
            </div> -->
        </div>
        <!-- 메인섹션 -->
        <div class="main">
            <!-- 
                *22-08-22 HIKARI
                *** 테스트시  <div class="main"> 하고 테스트 할 것
            -->
            <!-- ==============작업공간============== -->
            <div class="boardWF_container">
                <div class="boardWF_title">
                    <h1>커뮤니티 이용하기</h1>
                    <p>커뮤니티를 통해 개발자들과 궁금증도 해결하는 시간 되세요</p>
                </div>
                <div class="WF_topic_box">
                    <p>토픽</p>
                    <select name="topic">
                        <option value="" selected="selected">토픽을 선택해주세요</option>
                        <option value="일상">일상</option>
                        <option value="컬럼">컬럼</option>
                        <option value="커리어">커리어</option>
                        <option value="스터디">스터디</option>
                        <option value="스터디">공지</option>    
                    </select>
                </div>
                <div class="WF_input_box">
                    <p>제목</p>
                    <input type="text" placeholder="제목을 입력하세요">
                </div>
                <div class="WF_detail_box">
                    <p>상세정보</p>
                    <form action="insertStudentInfoForm" method="post">
                        <div id="smarteditor">
                            <textarea name="editorTxt" id="editorTxt" rows="20" cols="100" placeholder="내용을 입력해주세요"
                                style="width: 100%"></textarea>
                        </div>
                </div>
                <div class="WF_input_box">
                    <p>태그</p>
                    <input type="text" placeholder="태그를 입력하세요">
                </div>
                <div class="boardWF_btn">
                    <button>취소</button>
                    <button>등록</button>
                </div>

                </form>
            </div>
        </div>
            <!-- ==============작업공간============== -->
        </div>
        <!-- 오른쪽 사이드 -->
        <div class="sideRight">

        </div>

        <!-- 상단 스크롤 이동 -->
        <div class="toTop"><i class="uil uil-arrow-circle-up"></i></div>

    </div>


    
</div>
    <!-- 푸터 -->
    <div class="common_footer">푸터임다</div>

</body>

<script src="../resource/js/BasicFrame.js"></script>
<script>
    let oEditors = []

    smartEditor = function () {
        console.log("Naver SmartEditor")
        nhn.husky.EZCreator.createInIFrame({
            oAppRef: oEditors,
            elPlaceHolder: "editorTxt",
            sSkinURI: "/smart/SmartEditor2Skin.html",
            fCreator: "createSEditor2"
        })
    }

    $(document).ready(function () {
        smartEditor()
    })

    
</script>
</html>