<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resource/css/BasicFrame.css">
    <!-- 유니콘 아이콘 사이트 -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <link rel="stylesheet" href="/resource/css/detailBoard.css">
   
    <title>detailBoard</title>
</head>

<body>
    <!-- ======================== 헤더 ======================= -->
    <div class="common_header">
        <!-- 헤더 섹션 왼쪽 -->
        <div class="common_header_left">

        </div>
        <!-- 헤더 섹션 가운데 -->
        <div class="common_header_center">
            <!-- 카테고리 -->
            <ul class="header_menu">
                <li><a href="">메인페이지</a></li>
                <li><a href="">메인페이지</a></li>
                <li><a href="">메인페이지</a></li>
                <li><a href="">메인페이지</a></li>
                <li><a href="">메인페이지</a></li>
            </ul>
            <!-- 서치바 -->
            <div class="search">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>
        </div>
        <!-- 헤더 섹션 오른쪽 -->
        <div class="common_header_right">
            <!-- 마이페이지 -->
            <div class="user">
                <i class="uil uil-user-circle"></i>
                <ul class="user_dropdown">
                    <li>마이페이지</li>
                    <li>로그아웃</li>
                    <li>내팀관리</li>
                </ul>
            </div>
            <!-- 알림페이지 -->
            <div class="alarm">
                <i class="uil uil-bell"></i>
            </div>
        </div>
    </div>

    <!-- ======================== 작업 섹션 ======================= -->
    <div class="common_section">
        <!-- 왼쪽 사이드 -->
        <div class="sideLeft">
            <div class="myList">
                <ul>
                    <li>첫 메인은 여기</li>
                    <li>비어있는 칸or광고임</li>
                    <li>위 카테고리 페이지 누르면</li>
                    <li>해당 페이지에 대한</li>
                    <li>카테고리가</li>
                    <li>나옴니다</li>
                </ul>
            </div>
        </div>
        <!-- ==============작업공간============== -->

        <!-- 메인섹션 -->
        <div class="main">
            <!-- 
                *22-08-22 HIKARI
                *** 테스트시  <div class="main"> 하고 테스트 할 것
            -->
            <div class="detailBoard_container">
                <div class="detailSubTitle">
                    <span><i class="fas fa-feather-alt"></i></span>
                    <span>200<i class="fas fa-bolt"></i></span>
                    <span>나나콘</span>
                    <span>약 5시간전</span>
                </div>
                <div class="detailContent">
                    <h1>서로 다른 API 요청에 대한 java 전역변수 공유 여부</h1>
                    <p>회사 업무 중 php -> java 전환에 관련하여 고민중에 있는데요.</p>
                    <p>php 는 API 한개 요청당 한개의 프로세스를 사용하기 때문에 전역변수에 대한 걱정이 없었습니다.</p>
                    <p>제가 궁금한 점은 java 는 서로 다른 API 요청에 대해서 전역변수를 공유하나요? (멀티 스레드 환경이라?)</p>
                  </div>
                  <div class="detailTag">
                    <span>#excel</span>
                    <span>#java</span>
                    <span>#js</span>
                  </div>
                  
                  <div class="detailCommentBox">
                    <span>9개의 댓글</span>
                        <textarea name="editorTxt" id="editorTxt" rows="10" cols="10"  placeholder="내용을 입력해주세요"
                        style="width: 100%; height: 100%;"></textarea>
                        <button>댓글 쓰기</button>
                  </div>
                  <div class="detailSubTitle">
                    <span><i class="fas fa-feather-alt"></i></span>
                    <span>200<i class="fas fa-bolt"></i></span>
                    <span>나나콘</span>
                    <span>약 5시간전</span>
                    <div class="commentCon">
                        <p>세상에.. 요즘 프론트로 전향하고 싶어서 여기저기 알아보고 있었는데 좋은 글을 만났네요.. </p>
                        <p>감사합니다^^</p>
                    </div>            
                </div>
                <div class="detailSubTitle">
                    <span><i class="fas fa-feather-alt"></i></span>
                    <span>200<i class="fas fa-bolt"></i></span>
                    <span>나나콘</span>
                    <span>약 5시간전</span>
                    <div class="commentCon">
                        <p>세상에.. 요즘 프론트로 전향하고 싶어서 여기저기 알아보고 있었는데 좋은 글을 만났네요.. </p>
                        <p>감사합니다^^</p>
                    </div>            
                </div>
                <div class="detailSubTitle">
                    <span><i class="fas fa-feather-alt"></i></span>
                    <span>200<i class="fas fa-bolt"></i></span>
                    <span>나나콘</span>
                    <span>약 5시간전</span>
                    <div class="commentCon">
                        <p>세상에.. 요즘 프론트로 전향하고 싶어서 여기저기 알아보고 있었는데 좋은 글을 만났네요.. </p>
                        <p>감사합니다^^</p>
                    </div>            
                </div>
                <div class="detailSubTitle">
                    <span><i class="fas fa-feather-alt"></i></span>
                    <span>200<i class="fas fa-bolt"></i></span>
                    <span>나나콘</span>
                    <span>약 5시간전</span>
                    <div class="commentCon">
                        <p>세상에.. 요즘 프론트로 전향하고 싶어서 여기저기 알아보고 있었는데 좋은 글을 만났네요.. </p>
                        <p>감사합니다^^</p>
                    </div>            
                </div>
                <div class="detailSubTitle">
                    <span><i class="fas fa-feather-alt"></i></span>
                    <span>200<i class="fas fa-bolt"></i></span>
                    <span>나나콘</span>
                    <span>약 5시간전</span>
                    <div class="commentCon">
                        <p>세상에.. 요즘 프론트로 전향하고 싶어서 여기저기 알아보고 있었는데 좋은 글을 만났네요.. </p>
                        <p>감사합니다^^</p>
                    </div>            
                </div>
             </div>
        </div>


        <!-- ==============작업공간============== -->

        <!-- 오른쪽 사이드 -->
        <div class="sideRight">

        </div>

        <!-- 상단 스크롤 이동 -->
        <div class="toTop"><i class="uil uil-arrow-circle-up"></i></div>

    </div>


    <!-- 푸터 -->
    <div class="common_footer">푸터임다</div>
</body>

<script src="./js/BasicFrame.js"></script>

</html>