<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resource/css/myPage.css">
    <title>Document</title>
</head>
<body>
        <!-- 마이 페이지부분 -->
        <div class="myPage">
            <!-- 자기소개 -->
            <div class="introduce">
                <!-- 사진&자기소개&팔로잉 -->
                <div>img</div>
                <div>
                    <div class="introduce_nickname">닉네임 | 팔로워 : 100명 팔로잉 : 20명 </div>
                    <div class="introduce_text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Odit dolorum odio praesentium explicabo nam in quidem possimus 
                        sed impedit esse, nulla expedita dolore ipsa, distinctio architecto 
                        maxime minima cumque tenetur?
                    </div>
                </div>
            </div>
            <!-- 커미션 -->
            <div class="comition">
                나의 현재 커미션 : 10000원   | 정산하기
            </div>
            <!-- 내 활동점수 -->
            <div class="level">
                <div class="score">
                    활동 점수 : 2000점  ( 조금만 더 하면 1000점 이에요!)
                    
                </div>
                <div class="graph">
                    여기에 그래프들감 내가 활동중인
                </div>
            </div>
            <!-- 내 주력 언어 -->
            <div class="language">
                자바/제이에스/제이슨
            </div>
            <!-- 컨택트 & 지도 -->
            <div class="contact">
                <div class="mySite">
                    <ul>
                        <li>CONTACT</li>
                        <li>HOME</li>
                        <li>GIT HUB</li>
                        <li>VELOG</li>
                    </ul>
                </div>
                <div class="myArea">
                    여기에 지도 api 들어갈듯
                </div>
            </div>
            <!-- 내가 속한팀 -->
            <div class="myTeam">
                내가속한팀 ~~바로가기 버튼
            </div>
        </div>
</body>
</html>