<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resource/css/BasicFrame.css">
    <link rel="stylesheet" href="/resource/css/myPage.css">
    <link rel="stylesheet" href="/resource/css/global.css">
    <!-- 유니콘 아이콘 사이트 -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>HotFix</title>
</head>

<body>

    <div class="container">
        <!-- ======================== 헤더 ======================= -->
    <div class="common_header">
        <!-- 헤더 섹션 왼쪽 -->
        <div class="common_header_left">
            <img src="/resource/img/Hofix2.png" alt="">
        </div>
        <!-- 헤더 섹션 가운데 -->
        <div class="common_header_center">
            <!-- 카테고리 -->
            <ul class="header_menu">
                <li><a href="">HOTFIX</a></li>
                <li><a href="">팀페이지</a></li>
                <li><a href="">랭킹</a></li>
                <li><a href="">커뮤니티</a></li>
            </ul>
            
        </div>
        <!-- 헤더 섹션 오른쪽 -->
        <div class="common_header_right">
            <!-- 마이페이지 -->
            <div class="user">
                <i class="uil uil-user-circle"></i>
                
            </div>
            <!-- 알림페이지 -->
            <div class="alarm">
                <i class="uil uil-bell"></i>
            </div>
        </div>
        <div class="dropList">
            
        </div>
       
    </div>

    
    <!-- ======================== 작업 섹션 ======================= -->
    <div class="common_section">
        <!-- 왼쪽 사이드 -->
        <div class="sideLeft">
            <div class="myList">
                <ul>
                    <li>
                        <div>
                            
                        </div>
                    </li>
                    <li>
                        <!-- 닉네임 -->
                        <p>잉잉잉의</p>
                        <!-- 회원 고유번호 -->
                        <p>#9877</p>
                    </li>
                    <li>마이페이지</li>
                    <li>정보 수정</li>
                    <li>나의 작성글</li>
                    <li>결제 및 정산</li> 
                </ul>
            </div>
        </div>
        <!-- 메인섹션 -->
        <div class="main">
            <!-- 
                *22-08-22 HIKARI
                *** 테스트시  <div class="main"> 하고 테스트 할 것
            -->
            <!-- ==============작업공간============== -->
            <!-- 마이 페이지부분 -->
        <div class="myPage">
            <!-- 자기소개 -->
            <div class="introduce">
                <!-- 사진&자기소개&팔로잉 -->
                <div>img</div>
                <div>
                    <div class="introduce_nickname">
                        <div class="name">
                            양광모 123
                        </div>
                        <div class="follow">
                            dd
                        </div>
                    </div>
            
                    <div class="introduce_text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Odit dolorum odio praesentium explicabo nam in quidem possimus 
                        sed impedit esse, nulla expedita dolore ipsa, distinctio architecto 
                        maxime minima cumque tenetur?
                    </div>
                </div>
            </div>

            <!-- 컨택트 -->
            <p>CONTACT</p>
            <div class="contact">
                <ul>
                    <li>HOME</li>
                    <li>GIT HUB</li>
                    <li>velog</li>
                </ul>
            </div>
            <!-- 커미션 -->
            <p>님의 커미션 <i class="uil uil-question-circle"></i></p>
            <div class="comition_1">
                <span>5000 포인트</span><span>상세확인 <i class="uil uil-angle-right-b"></i></span>
            </div>

            <!-- 나의 해결률 -->
            <p>님의 전적</p>
            <div class="myHistory">
                <span>나의 요청건 100 나의 해결건 200</span><span>상세확인 <i class="uil uil-angle-right-b"></i></span>
            </div>

            <!-- 나의 팀 -->
            <p>님의 팀정보</p>
            <div class="myTeam">
                <span>가입된 팀이 없어요</span><span>가입하러 가기 <i class="uil uil-angle-right-b"></i></span>
            </div>

            <!-- 나의 활동점수 -->
            <p>님의 활동점수</p>
            <div class="myScore">
                현재 활동점수 820점
            </div>

            <!-- 나의 주 언어 -->
            <p>님의 주 언어</p>
            <div class="myLanguage">
                <ul>
                    <li>HOME</li>
                    <li>GIT HUB</li>
                    <li>velog</li>
                </ul>
            </div>
            
            
          
        </div>

            <!-- ==============작업공간============== -->
        </div>
        <!-- 오른쪽 사이드 -->
        <div class="sideRight">

        </div>

        <!-- 상단 스크롤 이동 -->
        <div class="toTop"><i class="uil uil-arrow-circle-up"></i></div>

    </div>


    <!-- 푸터 -->
    <div class="common_footer">푸터임다</div>
</div>
    

</body>

<script src="../resource/js/BasicFrame.js"></script>

</html>