<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resource/css/myPage_Set.css">
    <title>Document</title>
</head>
<body>
        <!-- 
            *22-08-22 HIKARI 정보수정 페이지
         -->
        <!-- 내 활동 내역 -->
            <div class="myPage_Set">
                <!-- 프로필 수정부분 -->
                <div class="myPage_Set_Profile">
                    <div class="set_image"> 
                        <div class="upload">    
                            여기에 프로필 사진나옴
                        </div>
                        <div class="uploadBtn">
                            <input type="button" value="재업로드">
                            <input type="button" value="이미지 삭제">
                        </div>
                    </div>
                    <div class="set_introduce">
                        <div class="set_Name">
                            <input type="button" value="수정하기">
                        </div>
                        <div class="set_Text">
                            
                        </div>
                    </div>
                </div>

                <!-- 소셜사이트 수정부분 -->
                <div class="myPage_Set_Contact">          
                    <div class="contact_Text">   
                        <div>소셜정보 수정하기</div>
                        <div>123</div>
                    </div>
                    <div class="correct">
                        <input type="button" value="수정">
                    </div>
                </div>
                <!-- 소셜사이트 수정부분 -->
                <div class="myPage_Set_Contact">          
                    <div class="contact_Text">   
                        <div>소셜정보 수정하기</div>
                        <div>123</div>
                    </div>
                    <div class="correct">
                        <input type="button" value="수정">
                    </div>
                </div>
                <!-- 소셜사이트 수정부분 -->
                <div class="myPage_Set_Contact">          
                    <div class="contact_Text">   
                        <div>소셜정보 수정하기</div>
                        <div>123</div>
                    </div>
                    <div class="correct">
                        <input type="button" value="수정">
                    </div>
                </div>
                <!-- 소셜사이트 수정부분 -->
                <div class="myPage_Set_Contact">          
                    <div class="contact_Text">   
                        <div>소셜정보 수정하기</div>
                        <div>123</div>
                    </div>
                    <div class="correct">
                        <input type="button" value="수정">
                    </div>
                </div>

             

    
            </div>
</body>
</html>