<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resource/css/myPage.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <title>Document</title>
</head>
<body>
        <!-- 마이 페이지부분 -->
        <div class="myPage">
            <!-- 자기소개 -->
            <div class="introduce">
                <!-- 사진&자기소개&팔로잉 -->
                <div>img</div>
                <div>
                    <div class="introduce_nickname">
                        <div class="name">
                            양광모 123
                        </div>
                        <div class="follow">
                            dd
                        </div>
                    </div>
            
                    <div class="introduce_text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Odit dolorum odio praesentium explicabo nam in quidem possimus 
                        sed impedit esse, nulla expedita dolore ipsa, distinctio architecto 
                        maxime minima cumque tenetur?
                    </div>
                </div>
            </div>
            <!-- 커미션 -->
            <div class="comition">
                <div class="myComition">
                현재 나의 커미션
                    
                </div>
                <div class="myHistory">
                    <div class="myRequest">
                        <p>양광모123 님의 요청 완료율</p>
                        <p>10/7 (70%)</p>
                    </div>
                    <div class="mySoltion">
                        <p>양광모123 님의 해결률</p>
                        <p>10/5 (50%)</p>
                    </div>
                </div>
                <!-- 내가 속한팀 -->
                <div class="myTeam">
                    소속팀 : 강서 1팀


                </div>
            </div>
            
            <!-- 내 활동점수 -->
            <div class="level">
                <div class="score">
                    활동 점수 : 2000점  ( 조금만 더 하면 1000점 이에요!)
                    
                </div>
                <div class="graph">
                    여기에 그래프들감 내가 활동중인
                </div>
            </div>
            <!-- 내 주력 언어 -->
            
            <!-- 컨택트 & 지도 -->
            <div class="contact">
                <div class="mySite">
                    <ul>
                        <li>CONTACT</li>
                        <li><ion-icon name="home-outline"></ion-icon></li>
                        <li><ion-icon name="logo-github"></ion-icon></li>
                        <li>VELOG</li>
                    </ul>
                </div>
            <div class="language">
                자바/제이에스/제이슨
            </div>
                <div class="myArea">
                    여기에 지도 api 들어갈듯
                </div>
            </div>
            
        </div>
</body>
</html>