<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resource/css/BasicFrame.css">
    <!-- 유니콘 아이콘 사이트 -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>HotFix</title>
</head>

<body>

    <div class="container">
        <!-- ======================== 헤더 ======================= -->
    <div class="common_header">
        <!-- 헤더 섹션 왼쪽 -->
        <div class="common_header_left">
            여기에 로고 들어감
        </div>
        <!-- 헤더 섹션 가운데 -->
        <div class="common_header_center">
            <!-- 카테고리 -->
            <ul class="header_menu">
                <li><a href="">HOTFIX</a></li>
                <li><a href="">팀페이지</a></li>
                <li><a href="">랭킹</a></li>
                <li><a href="">커뮤니티</a></li>
            </ul>
            <!-- 서치바 -->
            <div class="search">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>
        </div>
        <!-- 헤더 섹션 오른쪽 -->
        <div class="common_header_right">
            <!-- 마이페이지 -->
            <div class="user">
                <i class="uil uil-user-circle"></i>
                
            </div>
            <!-- 알림페이지 -->
            <div class="alarm">
                <i class="uil uil-bell"></i>
            </div>
        </div>
        <div class="dropList">
            
        </div>
       
    </div>

    
    <!-- ======================== 작업 섹션 ======================= -->
    <div class="common_section">
        <!-- 왼쪽 사이드 -->
        <div class="sideLeft">
            <div class="myList">
                <ul>
                    <li>첫 메인은 여기</li>
                    <li>비어있는 칸or광고임</li>
                    <li>위 카테고리 페이지 누르면</li>
                    <li>해당 페이지에 대한</li>
                    <li>카테고리가</li>
                    <li>나옴니다</li>   
                </ul>
            </div>
        </div>
        <!-- 메인섹션 -->
        <div class="main">
            <!-- 
                *22-08-22 HIKARI
                *** 테스트시  <div class="main"> 하고 테스트 할 것
            -->
            <!-- ==============작업공간============== -->
            

            <!-- ==============작업공간============== -->
        </div>
        <!-- 오른쪽 사이드 -->
        <div class="sideRight">

        </div>

        <!-- 상단 스크롤 이동 -->
        <div class="toTop"><i class="uil uil-arrow-circle-up"></i></div>

    </div>


    <!-- 푸터 -->
    <div class="common_footer">푸터임다</div>
</div>
    

</body>

<script src="./js/BasicFrame.js"></script>

</html>