<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resource/css/login.css">
    <!-- 유니콘 아이콘 사이트 -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Document</title>
</head>
<body>
    <!-- 220826 bear 상세스케치 주말동안 작업예정 -->
    <div class="loginDiv">
        <div class="loginLogo">
            <img src="/resource/img/HOT.png" alt="" srcset="">
        </div>
        <div class="login_Join">
            회원이 아니신가요? &nbsp;<a href="">회원가입 하기</a>
        </div>
        <div class="login">
            아이디, 비밀번호 찾기
        </div>
        <div class="login_Btn">
            <input type="button" value="로그인">
            <input type="button" value="계정찾기">
        </div>
        <div class="login_Sns">
            SNS 계정 로그인

        </div>
    </div>
</body>

</html>