<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOTFIX</title>
    <link rel="stylesheet" href="MainPage.css">
</head>
<body>

    <div class="test">
        <div class="main">
            <div id="main_hotfix_preview">
                <div id="hotfix_preview_title">

                </div>
                <div id="hotfix_preview_content">
                    
                </div>
            </div>
            <div id="main_community_preview">
                <div id="community_preview_frist">
                    <div id="comm_fir_preview_title">

                    </div>
                    <div id="comm_fir_preview_content">

                    </div>
                </div>
                <div id="community_preview_second">
                    <div id="comm_sec_preview_title">

                    </div>
                    <div id="comm_sec_preview_content">

                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>