<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resources/css/BasicFrame.css">
    <link rel="stylesheet" href="../resources/css/myPage.css">
    <link rel="stylesheet" href="../resources/css/global.css">
    <link rel="stylesheet" href="../resources/css/resolveMain.css">
    <!-- 유니콘 아이콘 사이트 -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>HotFix</title>
</head>

<body>

     <!-- ======================== 헤더 ======================= -->
    <div class="common_header">
        <!-- 헤더 섹션 왼쪽 -->
        <div class="common_header_left">
            <a href="MainPage.html"><img src="../resources/img/hoxfix_1.png" alt=""></a>
        </div>
        <!-- 헤더 섹션 가운데 -->
        <div class="common_header_center">
            <!-- 카테고리 -->
            <ul class="header_menu">
                <li><a href="resolveMain.html">HOTFIX</a></li>
                <li><a href="team/teamlist.html">팀페이지</a></li>
                <li><a href="ranking/ranking.html">랭킹</a></li>
                <li><a href="board/lifeBoard.html">커뮤니티</a></li>
            </ul>
            
        </div>
        <!-- 헤더 섹션 오른쪽 -->
        <div class="common_header_right">
            <!-- 마이페이지 -->
            <div class="user">
                <div></div>
                <ul>
                    <li><a href="mypage/mypage.html">마이페이지</a></li>
                    <li><a href="pay/detailPoint.html">충전하기</a></li>
                    <li><a href="admin/admin.html">관리자 페이지</a></li>
                    <li><a href="hotFixStart.html">로그아웃</a></li>
                </ul>
            </div>
            <!-- 알림페이지 -->
            <div class="alarm">
                <div></div>
                <ul>        
                    <li><span>정산이 완료되었어요!</span><span>방금</span><span><a href="#"><i class="uil uil-angle-right-b"></i></a></span></li>
                    <li><span>~님의 댓글이 달렸어요의 댓글이 달렸어요의 댓글이 달렸어요</span><span>어제</span><span><a href="#"><i class="uil uil-angle-right-b"></i></a></span></li>
                    <li><span>충전이 완료되었어요!</span><span>1분전</span><span><a href="#"><i class="uil uil-angle-right-b"></i></a></span></li>
                    <li><span>커미션지급이 완료되었어요!</span><span>1분전</span><span><a href="#"><i class="uil uil-angle-right-b"></i></a></span></li>
                    <li><span>팀장 권한을 위임 받았어요!</span><span>1분전</span><span><a href="#"><i class="uil uil-angle-right-b"></i></a></span></li>
                    <li><span>정산이 완료되었어요!</span><span>1분전</span><span><a href="#"><i class="uil uil-angle-right-b"></i></a></li>
                    <li><span>정산이 완료되었어요!</span><span>1분전</span><span><a href="#"><i class="uil uil-angle-right-b"></i></a></li>
                    <li><span>정산이 완료되었어요!</span><span>1분전</span><span><a href="#"><i class="uil uil-angle-right-b"></i></a></li>
                    
                </ul>
            </div>
        </div>

       
    </div>

    <div class="container">
    <!-- ======================== 작업 섹션 ======================= -->
    <div class="common_section">

        <!-- 메인섹션 -->
        <div class="main">
            <!-- 
                *22-08-22 HIKARI
                *** 테스트시  <div class="main"> 하고 테스트 할 것
            -->
            <!-- ==============작업공간============== -->
                <!-- 전체컨테이너 -->
                <div class="RmContainer">
                    <!-- HOT FIX 제목 -->
                    <div class="RmHeader">
                        <h1>HOT FIX</h1>
                    </div>

                    <div class="RmSubtitle">
                        <!-- 요청서 버튼  -->
                        <div class="RmWriteRequest">
                            <button type="button" onclick="location.href='resolveWriteForm.html' ">요청서 작성</button>
                        </div>

                        <!-- 서치바 -->
                        <div class="RmSearchbar">
                            <i class="uil uil-search"></i><input type="text" placeholder="검색">
                        </div>
                        <!-- 태그 버튼 -->
                        <div class="Rmlist">
                            <select name="">
                                <option value="">최신순</option>
                                <option value="">커미션순</option>
                            </select>

       
                        </div>
                    </div>

                    <!-- 해결 게시판 -->
                    <div class="RmBoard">
                        <div class="RmBoardLeft">
                            <p>해결요청!</p>
                            <p>작성자 :peter</p>
                            <p>제목 : Java 컴파일 에러가 떴습니다 해결해주세요</p>
                        </div>
                        <div class="RmBoardRight">
                            <p>모집인원 : 5명</p>
                            <p>커미션: 500 FIx</p>
                            <p>남은 시간 : 3:00:00</p>
                            <button class="DetailModal">상세보기</button>





                        </div>
                    </div>
                    <div class="RmBoard">
                        <div class="RmBoardLeft">
                            <p>해결요청!</p>
                            <p>작성자 :peter</p>
                            <p>제목 : Java 컴파일 에러가 떴습니다 해결해주세요</p>
                        </div>
                        <div class="RmBoardRight">
                            <p>모집인원 : 5명</p>
                            <p>커미션: 500 FIx</p>
                            <p>남은 시간 : 3:00:00</p>
                            <button class="DetailModal">상세보기</button>
                        </div>
                    </div>

                </div>

            
            
            <!-- ==============작업공간============== -->
        </div>



        </div>



    </div>
    <!-- 푸터 -->
    <div class="common_footer">푸터임다</div>
    <!-- 모달 -->
    <div class="RmModal_background"></div>
    <div class="RmModal_wrap">
        <div class="RmModal_close"><i class="uil uil-x"></i></div>
        <!-- 모달 내용부분 -->
        <div class="ModalText">
            <h1>해결요청!</h1>
            <div class="ModalHeader">
                <p>커미션 : 500Fix</p>
                <p>모집인원 : 5명</p>
            </div>
            <div class="Modaltitle">
                <p>작성자 : peter</p>
                <p>제목 : Java 컴파일 에러가 떴습니다 해결해주세요</p>
                <p>내용 : 아무리 찾아봐도 저 빨간줄 에러가 해결이 안됩니다 해결해주세요</p>
            </div>
            <div class="ModalCon">
                <img src="../resources/img/에러.png" alt="">
            </div>
            <div class="ModalFooter">
                <p>모집 마감 : 2022. 09.08 목요일</p>
                <button>해결하기</button>
            </div>
        </div>


</body>

<script src="../resources/js/BasicFrame.js"></script>
<!-- <script src="../resource/js/mypage_new_real.js"></script> -->
<script>

    // 모달 열기
    function modalOpen() {
        document.querySelector('.RmModal_wrap').style.display = 'block';
        document.querySelector('.RmModal_background').style.display = 'block';
    }

    // 모달 끄기
    function modalClose() {
        document.querySelector('.RmModal_wrap').style.display = 'none';
        document.querySelector('.RmModal_background').style.display = 'none';
    }


    //버튼 클릭리스너 달기
    let DetailModal = document.querySelectorAll('.DetailModal');

    for (let i = 0; i < DetailModal.length; i++) {
        DetailModal[i].addEventListener('click', modalOpen);
    }


    document.querySelector('.RmModal_close').addEventListener('click', modalClose);



</script>
</html>